<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Glx.App.Launcher.Properties.Settings.GlxTemplateConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\dreamSafe\Devolopement\Template\GLX_Template\GLX_Template\bin\Release\DB\GlxTemplate.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>